.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

body * {
  font-family: Montserrat, serif;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #ffffff;
  border: 0;
  color: white;
  transition: background-color 5000s ease-in-out 0s;
}

.app-wrapper {
  display: grid;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  grid-template-areas:
    "h"
    "c"
    "f";
  grid-template-rows: 80px 1fr 100px;
  grid-template-columns: 1fr;
  background-color: #3c3847;
}

.app-wrapper-content {
  grid-area: c;
  width: 100%;
}
